@import url(normalize.css);

body{
    padding: 2em;
}


:root{
    --primary-color: rgb(12, 12, 12);
    --secondary-color: #2d2de4;
    --mixWhite:white;
}
html{
    font: normal 400 62.5% 'Inter Tight', sans-serif;
    background-image: linear-gradient(to right, transparent, rgb(123, 19, 208));
    width:100%;
    margin: auto;
    line-height: 1.5;
}
body{
    padding: 6rem;
}

h2{
    font-size: 2.4rem;
    text-transform: uppercase;
    color: var(--secondary-color);
}


p,a, ul, li{
    font-size: 1.6rem;
}

.summary p{
    line-height: 1.5;
    text-indent: 1em;
}

h1{
    color:rgba(81, 81, 240, 0.8);
    text-align: center;
    text-shadow: 3px 3px 3px rgb(41, 40, 40);
    font-size: 4.6rem;
}

address{
    font-size: 1.4rem;
    font-style: normal;
    color: var(--primary-color);
}

a{
    color: var(--mixWhite);
    text-decoration: none;
    background-color: rgba(92, 9, 169, 0.888);
    padding: 1rem;
    border-radius: .5rem;
    display: flexbox;
    justify-content:right;

}

a:hover{
    background-color: rgba(4, 4, 188, 0.759);

}
.container_header{
    display: flex;
    justify-content: end;
    gap: 1em;
}

.skill_list li, .education_list li, .aditionalInformation_list li{
    list-style-type: square;
    padding-left: 0;
   
}
.education_list, .aditionalInformation_list, .skill_list{
    padding-left: 0;
    list-style-position: inside;
}
.education_list__inside li{
    list-style-type:circle;
}

